#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}
.navbar {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  display: flex;
  position: absolute;
  z-index: 2;
  top: 0;
  margin-top: 0px;
  text-align: center;
  width: 96%; /* Ensure full width */
}

.logo-header {
  background-color: rgb(255, 255, 255);
  color: #388AD2;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 6px;
}

.nav-links {
  flex: 1; /* Use remaining space */
  display: flex;
  gap: 1rem;
  color: rgb(255, 255, 255);
  list-style: none;
  align-items: center;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.book-btn {
  background-color: #1f1f1f;
  color: rgb(255, 255, 255);
  margin-left: auto; /* Push the button to the right */
 padding: 8px;
 width: 9rem;
 font-size: 1rem;
 border-radius: 16px;
 font-family: 'Hind', sans-serif;
 border : 2px solid rgb(255, 255, 255);
 align-self: center;
 font-weight: 600;
}

.hero{
  background-size: cover;
  position: sticky;
  top: 0;
  max-height: 100vh;
  min-width: 98vw;
  display: flex;
  justify-content: center;
  align-content: baseline;


}
.tag-line{
  position: absolute;
  z-index: 2;
  font-family: 'Hind',sans-serif;
  font-size: 5rem;
  text-align: left;
  padding: 20px;
  align-self: center;
  margin-bottom: 0px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}

.tag{
  position: absolute;
  z-index: 2;
  text-align: left;
  padding: 20px;
  align-self: center;
  top: 66%;
  margin-right: 45rem;
  
  font-weight: 500;
  font-size: 1.35rem;
  line-height: 1.5rem;
  padding: 10px;
  color: rgb(255, 255, 255);
 
}
.image-mod-cnt{
  width: 40rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 
}

.image-mod{
  
  max-width: 100%;
  max-height: 100%;
}

.offer {
  position: relative;

  min-height: 100vh;
  background-color: rgba(255, 255, 255, .15);   
  z-index: 2;
  overflow: hidden; 
}

.offer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.231);  

  filter: blur(10px);
  
  z-index: 2;
  backdrop-filter: blur(10px); 
}

.offer-content{
  position: relative;
  z-index: 3;
}

.wwo-header{
  color: rgb(255, 255, 255);
  font-size: 4rem;
  margin-bottom: 0px;
}

.grid-1{
  display: flex;
  padding: 60px;
  padding-bottom: 1rem;
  gap: 1rem;
}
.service-card{
  background-color: rgba(255, 255, 255, 0.934);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  border-radius: 14px;
  padding: 10px;
  font-family: 'Hind', sans-serif;

  box-shadow: none;
               transition: all 0.6s;
display: flex;
flex-direction: column;
justify-content: center;
text-align: left;

}

.service-card:hover{
  box-shadow:  5px 5px 6px #d9d9d9,
               -5px -5px 6px #e7e7e7;
}

.grid-2 {
  display: flex;
  padding: 60px;
  gap: 1rem;
  padding-top: 0px;
}

.service-title{
  font-size: 1.5rem;
  font-family: 'manrope';
  font-weight: 900;

}

.service-price{
  font-weight: bold;
  border-radius: 8px;
  margin: 0px;
  text-align: center; background-color: #213547e3;
  width: 4rem;
  color: rgb(255, 255, 255);
}

.service-description{
  color: #213547e3

}

.About-section{

  z-index: 2;
  position: relative;
  min-height: 100vh;
  background-color: rgb(255, 255, 255, 0.934);
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  color: #388AD2;

}
.about-div{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 2rem;
}
.about-image{
  height: 30rem;
  width: 33rem;
  border-radius: 8px;
  align-self: center;
}

.about-image img{
  max-height:100%;
  max-width:100%;
  border-radius: 8px;
}

#wwo-about {
  color: rgb(25, 28, 31);
  padding: 20px;
}
.about-text{
  font-family: sans-serif;
}
.about-qa-head{
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 26px;
  
  font-weight: bold;
  text-transform: uppercase;
  background-color: #1f1f1f;
  font-size: 1rem;
}

.about-qa-rep{
  background-color: #388ad2a7;
  color: rgb(255, 255, 255);
  box-shadow:  5px 5px 6px #d9d9d9,
               -5px -5px 6px #e7e7e7;
  line-height: 1.3em;
  border-radius: 22px;
  padding: 12px;
  margin-right: 10rem;
}

